body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    margin-top: 150px;
}

#countdown {
    font-size: 100px;
    margin-top: -5px;
}

button {
    margin-top: -50px;
}

#startButton {
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    color: #282c34;
}

#startButton:hover {
    background
